<label for="noteTitle">Title:</label>
<input type="text" id="noteTitle" name="title" value="{{note.title}}" required/>

<label for="noteDescription">Description:</label>
<textarea id="noteDescription" name="description" value="{{note.description}}"></textarea>

<label for="noteDueDate">Due Date:</label>
<input type="date" id="noteDueDate" name="dueDate" value="{{note.dueDate}}" required/>

<label for="noteImportance">Importance:</label>
<p><input name='importance' value="{{note.importance}}" required></p>
{{#if note._id}}
    <div class="rating">
        {{#loop 4 note.importance note._id}}
            <input type="radio" id="{{this.id}}_importance" name="{{this.id}}_importance" value="{{this.index}}" /><label class="imp{{this.index}}" for="{{this.id}}_importance{{this.index}}">{{this.importanceType}}</label>
        {{/loop}}
    </div>
{{else}}
    <div class="rating">
        <input type="radio" id="{{_id}}_importance4" name="importance" value="4"/><label class="imp4" for="{{_id}}_importance4">Immediate</label>
        <input type="radio" id="{{_id}}_importance3" name="importance" value="3"/><label class="imp3" for="{{_id}}_importance3">High</label>
        <input type="radio" id="{{_id}}_importance2" name="importance" value="2"/><label class="imp2" for="{{_id}}_importance2">Medium</label>
        <input type="radio" id="{{_id}}_importance1" name="importance" value="1"/><label class="imp1" for="{{_id}}_importance1">Low</label>
    </div>
{{/if}}
