<div class="formRow">
    <label for="noteTitle">Title</label>
    <input type="text" id="noteTitle" name="title" value="{{note.title}}" required/>
</div>

<div class="formRow">
    <label for="noteDescription">Description</label>
    <textarea id="noteDescription" name="description" value="{{note.description}}" required></textarea>
</div>

<div class="formRow">
    <label for="noteDueDate">Due Date</label>
    <input type="date" id="noteDueDate" name="dueDate" value="{{note.dueDate}}" required />
</div>

<div class="formRow">
    <label for="noteImportance">Importance</label>

    <select id="noteImportance" name="importance" required>
        <option disabled selected value> -- select an option -- </option>
        {{#loop 5 note.importance note._id}}
            <option id="{{this.id}}_importance" name="{{this.id}}_importance" value="{{this.index}}">{{importanceType}}</option>
        {{/loop}}
    </select>
</div>
