{{#> layout}}
    {{#*inline "nav"}}
        <a class="button invert" href="notes/add">New Note</a>
        <span>
            <form action="/notes" method="POST">
                <select class="invert" name="style">
                    <option {{#if_eq style 'Red'}}selected{{/if_eq}}>Red</option>
                    <option {{#if_eq style 'Gray'}}selected{{/if_eq}}>Gray</option>
                    <option {{#if_eq style 'Black'}}selected{{/if_eq}}>Black</option>
                </select>
                <input class="invert" type="submit" value="Switch Theme" />
            </form>
        </span>
    {{/inline}}
    {{#*inline "content"}}
        <div class="order">
            <form action='/notes' method='POST'>
                <input type="hidden" name="sorting" value="dueDate">
                <input type="submit" value="By finish date {{#if_eq sortBy 'dueDate'}}{{#if_eq sortOrder 1}}&#x25B2{{else}}&#x25BC{{/if_eq}}{{/if_eq}}" {{#if_eq sortBy 'dueDate'}}class="activeFilter"{{/if_eq}} />
            </form>
            <form action='/notes' method='POST'>
                <input type="hidden" name="sorting" value="createdDate">
                <input type="submit" value="By created date {{#if_eq sortBy 'createdDate'}}{{#if_eq sortOrder 1}}&#x25B2{{else}}&#x25BC{{/if_eq}}{{/if_eq}}" {{#if_eq sortBy 'createdDate'}}class="activeFilter"{{/if_eq}}>
            </form>
            <form action='/notes' method='POST' class="btn-sort">
                <input type="hidden" name="sorting" value="importance" >
                <input type="submit" value="By importance {{#if_eq sortBy 'importance'}}{{#if_eq sortOrder 1}}&#x25B2{{else}}&#x25BC{{/if_eq}}{{/if_eq}}" {{#if_eq sortBy 'importance'}} class="activeFilter"{{/if_eq}}>
            </form>
            <form action='/notes' method='POST'>
                <input type="hidden" name="showFinished" value="{{#if_eq showFinished 'true'}}false{{else}}true{{/if_eq}}">
                <input type="submit" value="Show Finished" {{#if_eq showFinished 'true'}} class="activeFilter"{{/if_eq}}>
            </form>
        </div>
        <div class="notes">
            {{#each notes}}
                {{> note }}
            {{else}}
                <div class="noNotesFound">
                    <a class="button" href="notes/add">No notes found! Be the first one to add a note!</a>
                </div>
            {{/each}}
        </div>
    {{/inline}}
{{/layout}}
